@import "tailwindcss";

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
  background-color: #fdd3e2;
}

main {
	margin-bottom: 60px;
}

.absolute-right {
	position: absolute;
	right: 14px;
}

.bottom-fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 8px;
	height: 36px !important;
}

.card-container {
	width: 300px;
	padding: 20px 0 20px 0;
	margin: 40px 0 44px 0;
}
.card-container p {
	margin-bottom: 14px;
}

.card-details {
	display: flex;
	font-size: 18px;
	align-items: center;
	margin-bottom: 12px;
}

.card-title {
	font-size: 22px;
}

.centered {
	align-items: center;
	justify-content: center;
	display: flex;
}

.difficulty-label {
	padding: 8px;
	border: 1px black solid;
	border-radius: 12px;
	min-width: 90px;
	margin-right: 6px;
	text-align: center;
}

.error {
	margin-top: 12px;
	color: orangered;
	font-weight: bold;
}

.favorites-filter-holder {
	height: 56px;
	margin: 6px 0 24px 0;
}

.filters-container {
	display: block;
	min-width: 300px;
}

.flex {
	display: flex;
}

.float-right {
	float: right;
}

.gray-line {
	max-height: 1px;
	width: fill;
	border: 1px gray solid;
	margin: 12px 0 12px 0;
}

.half-width {
	width: 49%;
}

.header-holder {
	width: 100%;
	margin: 12px 0 36px 0;
}

.inline {
	display: inline;
}

.jj-coin-img {
	display: inline;
	margin-left: 6px;
	width: 36px;
	height: 36px;
}

.site-title {
	width: 100%;
	font-size: 36px;
}

.sparkles {
	font-style: italic;
	color: goldenrod;
	text-shadow: 2px 2px violet;
}

.vertical-align {
	vertical-align: middle;
}
