@import "tailwindcss";

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
  background-color: #fdd3e2;
  padding: 5%;
}

main {
	margin-bottom: 60px;
	width: 100%;
}

ol {
	list-style: trad-chinese-informal;
}

ul {
	list-style: circle;
}

.absolute-right {
	position: absolute;
	right: 20px;
}

.basic-modal {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 12px;
  border-radius: 24px;
  box-shadow: 1px 1px 8px cornflowerblue;
  background-color: pink;
  font-size: 16px;
}

.bottom-fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 8px;
	height: 36px !important;
}

.card-container {
	width: 100%;
	padding: 20px 0 20px 0;
	margin: 40px 0 44px 0;
}
.card-container p {
	margin-bottom: 14px;
}

.card-details {
	display: flex;
	font-size: 18px;
	align-items: center;
	margin-bottom: 12px;
}

.card-title {
	font-size: 22px;
}

.centered {
	align-items: center;
	justify-content: center;
	display: flex;
}

.colorful-textfield {
	color: #A7E8FE;
}

.difficulty-label {
	padding: 8px;
	border: 1px black solid;
	border-radius: 12px;
	min-width: 90px;
	margin-right: 20px;
	text-align: center;
	color: black;
}

.difficulty-Easy {
	background-color: mediumseagreen;
	border: none;
}

.difficulty-Medium {
	background-color: skyblue;
	border: none;
}

.difficulty-Hard {
	background-color: indianred;
	border: none;
}

.difficulty-Extreme {
	text-decoration: underline;
}

.error {
	margin-top: 12px;
	color: orangered;
	font-weight: bold;
}

.favorites-filter-holder {
	height: 56px;
	margin: 6px 0 24px 0;
}

.filters-container {
	display: block;
	min-width: 300px;
}

.flex {
	display: flex;
}

.float-right {
	float: right;
}

.full-width {
	width: 100%;
}

.gray-line {
	max-height: 1px;
	width: fill;
	border: 1px gray solid;
	margin: 12px 0 12px 0;
}

.half-width {
	width: 49%;
}

.header-holder {
	width: 100%;
	margin: 12px 0 36px 0;
}

.inline {
	display: inline;
}

.italic {
	font-style: italic;
}

.hint-cost {
	font-size: 20px;
  margin: 14px 0px;
  padding: 6px;
  width: fit-content;
  background-color: indianred;
  border-radius: 14px;
  color: white;
}

.jj-coin-img {
	display: inline;
	margin-left: 6px;
	width: 36px;
	height: 36px;
}

.rules-subheader {
	font-size: 18px;
}

.site-title {
	min-width: 100%;
	font-size: 32px;
	color: floralwhite;
	text-shadow: 0px 0px 4px cornflowerblue;
	font-family: sans-serif;
	font-weight: bold;
}

.subtitle {
	font-size: 20px;
	color: floralwhite;
	text-shadow: 0px 0px 3px cornflowerblue;
	font-family: sans-serif;
	font-weight: bold;
	text-decoration-thickness: 3px;
}

.sparkles {
	font-style: italic;
	color: deeppink;
	text-shadow: 2px 2px goldenrod;
}

.underlined {
	text-decoration: underline;
}

.question-holder {
	padding: 20px 0 20px 0;
	margin: 40px 0 44px 0;
	border-radius: 20px;
  padding: 16px 16px 2px 16px;
  background-color: linen;
  box-shadow: 3px 3px 8px lightblue;
}

.question-title {
	color: #DD4B60;
	text-shadow: 0px 0px 1px gray;
}

.vertical-align {
	vertical-align: middle;
}
